@model IEnumerable<SaristhBookstore.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<div>
    <br />
</div>
<p>
    @Html.ActionLink("Add More", "Store", "Books")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<div class="col-md-10">
    </div>
    <div class="col-md-2">
        <form  controller ="Carts" action="Purchase">


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Purchase", "Purchase")
                    @*<input type="submit" value="Purchase" class="btn btn-default" />*@
                </div>
            </div>
        </form>
    </div>

